{% extends 'base.html.twig' %}

{% block title %}DiceRoll{% endblock %}

{% block body %}
    <h1>DiceRoll</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dice_roll.id }}</td>
            </tr>
            <tr>
                <th>RollDate</th>
                <td>{{ dice_roll.rollDate ? dice_roll.rollDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dice</th>
                <td>{{ dice_roll.dice }}</td>
            </tr>
            <tr>
                <th>RollValue</th>
                <td>{{ dice_roll.rollValue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dice_roll_index') }}">back to list</a>

    <a href="{{ path('app_dice_roll_edit', {'id': dice_roll.id}) }}">edit</a>

    {{ include('dice_roll/_delete_form.html.twig') }}
{% endblock %}
